<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.ksign.access.mapper.KAASessionMapper">
	<sql id="sessionColAS">
		S.LOGIN_ID AS "loginId",
		S.LOGIN_IP AS "loginIp",
		S.LOGIN_SESSION AS "loginSession",
		S.LOGIN_TIME AS "loginTime",
		S.LOGIN_GID AS "loginGid",
		S.STATUS AS "status",
		S.MODDATE AS "modDate",
		S.LOGIN_GIDS AS "loginGids"
	</sql>

	<sql id="sessionCol">
		S.LOGIN_ID ,
		S.LOGIN_IP ,
		S.LOGIN_SESSION ,
		S.LOGIN_TIME ,
		S.LOGIN_GID ,
		S.STATUS ,
		S.MODDATE ,
		S.LOGIN_GIDS
	</sql>

	<select id="selectKADupSessionListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT COUNT(*) FROM V_SESSION S
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="loginId != null and loginId !=''">
				S.LOGIN_ID = #{loginId}
			</if>
		</trim>
		order by S.${orderBy}
	</select>

	<select id="selectKADupSessionList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT * FROM (
		SELECT S.*,
		ROWNUM AS RNUM,
		FLOOR((ROWNUM-1)/${pageSize}+1) AS PAGE,
		COUNT(*) OVER() AS TOTCNT FROM (
		SELECT
		<include refid="sessionColAS" />
		FROM V_SESSION S
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="login_Id != null and login_Id !=''">
				S.LOGIN_ID = #{login_Id}
			</if>
		</trim>
		order by S.${orderBy}
		) S
		) WHERE 1 = 1
		<if test="pageNo != null and pageNo !=''">
			AND PAGE = ${pageNo}
		</if>
	</select>



</mapper>
